@model ProjectPathfinder.Areas.Member.ViewModels.TestStepEleven_3

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>No.</th>
                <th>Questions</th>
                <th>Yes</th>
                <th>No</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>49</td>
                <td>You have good control over your desires and temptations</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q1, "true", new { @class = "test-element" })</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q1, "false", new { @class = "test-element" })</td>
            </tr>
            <tr>
                <td>50</td>
                <td>You easily understand new theoretical principles</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q2, "true", new { @class = "test-element" })</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q2, "false", new { @class = "test-element" })</td>
            </tr>
            <tr>
                <td>51</td>
                <td>The process of searching for solutions is more important to you than the solution</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q3, "true", new { @class = "test-element" })</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q3, "false", new { @class = "test-element" })</td>
            </tr>
            <tr>
                <td>52</td>
                <td>You usually place yourself nearer to the side than in the centre of the room at a party, function</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q4, "true", new { @class = "test-element" })</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q4, "false", new { @class = "test-element" })</td>
            </tr>
            <tr>
                <td>53</td>
                <td>When solving a problem you would rather follow a familiar approach than seek a new one</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q5, "true", new { @class = "test-element" })</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q5, "false", new { @class = "test-element" })</td>
            </tr>
            <tr>
                <td>54</td>
                <td>You are a principled person-always follow what should be right</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q6, "true", new { @class = "test-element" })</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q6, "false", new { @class = "test-element" })</td>
            </tr>
            <tr>
                <td>55</td>
                <td>You like adventure</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q7, "true", new { @class = "test-element" })</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q7, "false", new { @class = "test-element" })</td>
            </tr>
            <tr>
                <td>56</td>
                <td>You prefer meeting in small groups than being with lots of people</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q8, "true", new { @class = "test-element" })</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q8, "false", new { @class = "test-element" })</td>
            </tr>
            <tr>
                <td>57</td>
                <td>You prefer to deal with the present than dwell in the future</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q9, "true", new { @class = "test-element" })</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q9, "false", new { @class = "test-element" })</td>
            </tr>
            <tr>
                <td>58</td>
                <td>You consider the scientific approach to be the best</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q10, "true", new { @class = "test-element" })</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q10, "false", new { @class = "test-element" })</td>
            </tr>
            <tr>
                <td>59</td>
                <td>You find it difficult to talk about your feelings</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q11, "true", new { @class = "test-element" })</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q11, "false", new { @class = "test-element" })</td>
            </tr>
            <tr>
                <td>60</td>
                <td>You often spend time thinking of how things could be improved</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q12, "true", new { @class = "test-element" })</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q12, "false", new { @class = "test-element" })</td>
            </tr>
            <tr>
                <td>61</td>
                <td>You are emotional (cry a lot etc.)</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q13, "true", new { @class = "test-element" })</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q13, "false", new { @class = "test-element" })</td>
            </tr>
            <tr>
                <td>62</td>
                <td>You prefer to spend your spare time alone or relaxing in a quiet family atmosphere</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q14, "true", new { @class = "test-element" })</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q14, "false", new { @class = "test-element" })</td>
            </tr>
            <tr>
                <td>63</td>
                <td>You feel more comfortable sticking to old fashioned ways</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q15, "true", new { @class = "test-element" })</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q15, "false", new { @class = "test-element" })</td>
            </tr>
            <tr>
                <td>64</td>
                <td>You have strong emotions</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q16, "true", new { @class = "test-element" })</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q16, "false", new { @class = "test-element" })</td>
            </tr>
            <tr>
                <td>65</td>
                <td>You are always looking for opportunities</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q17, "true", new { @class = "test-element" })</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q17, "false", new { @class = "test-element" })</td>
            </tr>
            <tr>
                <td>66</td>
                <td>Your desk, workbench, table at home is usually neat and orderly</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q18, "true", new { @class = "test-element" })</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q18, "false", new { @class = "test-element" })</td>
            </tr>
            <tr>
                <td>67</td>
                <td>As a rule, current things you are occupied with worry you more than your future plans</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q19, "true", new { @class = "test-element" })</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q19, "false", new { @class = "test-element" })</td>
            </tr>
            <tr>
                <td>68</td>
                <td>You get pleasure from walking, hiking alone</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q20, "true", new { @class = "test-element" })</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q20, "false", new { @class = "test-element" })</td>
            </tr>
            <tr>
                <td>69</td>
                <td>It is easy for you to communicate when people are present</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q21, "true", new { @class = "test-element" })</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q21, "false", new { @class = "test-element" })</td>
            </tr>
            <tr>
                <td>70</td>
                <td>You are consistent in your habits</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q22, "true", new { @class = "test-element" })</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q22, "false", new { @class = "test-element" })</td>
            </tr>
            <tr>
                <td>71</td>
                <td>You willingly involve yourself in matters which engage your sympathies</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q23, "true", new { @class = "test-element" })</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q23, "false", new { @class = "test-element" })</td>
            </tr>
            <tr>
                <td>72</td>
                <td>You are frequently right about how things end up. You can predict how events will unfold</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q24, "true", new { @class = "test-element" })</td>
                <td class="text-center">@Html.RadioButtonFor(x => x.q24, "false", new { @class = "test-element" })</td>
            </tr>
        </tbody>
    </table>
</div>
