@model ProjectPathfinder.Areas.Member.ViewModels.TestStepTen

<div class="table-responsive">
    <table class="table">
        <tbody>
            <tr>
                <td width="20%">1. My schoolwork</td>
                <td width="80%">@Html.TextAreaFor(x => x.q1, 2, 55, new { @class = "test-element" })</td>
            </tr>      
            <tr>
                <td>2. The future</td>
                <td>@Html.TextAreaFor(x => x.q2, 2, 55, new { @class = "test-element" })</td>
            </tr>        
            <tr>
                <td>3. My family</td>
                <td>@Html.TextAreaFor(x => x.q3, 2, 55, new { @class = "test-element" })</td>
            </tr>        
            <tr>
                <td>4. My friends</td>
                <td>@Html.TextAreaFor(x => x.q4, 2, 55, new { @class = "test-element" })</td>
            </tr>        
            <tr>
                <td>5. I fear</td>
                <td>@Html.TextAreaFor(x => x.q5, 2, 55, new { @class = "test-element" })</td>
            </tr>        
            <tr>
                <td>6. My dreams</td>
                <td>@Html.TextAreaFor(x => x.q6, 2, 55, new { @class = "test-element" })</td>
            </tr>        
            <tr>
                <td>7. My biggest problem that I am currently struggling with</td>
                <td>@Html.TextAreaFor(x => x.q7, 2, 55, new { @class = "test-element" })</td>
            </tr>        
            <tr>
                <td>8. My greatest ambition</td>
                <td>@Html.TextAreaFor(x => x.q8, 2, 55, new { @class = "test-element" })</td>
            </tr>        
            <tr>
                <td>9. I do not enjoy</td>
                <td>@Html.TextAreaFor(x => x.q9, 2, 55, new { @class = "test-element" })</td>
            </tr>        
            <tr>
                <td>10. My plans for the future</td>
                <td>@Html.TextAreaFor(x => x.q10, 2, 55, new { @class = "test-element" })</td>
            </tr>             
        </tbody>
    </table>
</div>


