@using ProjectPathfinder.Infrastructure.Helpers
@model ProjectPathfinder.Areas.Member.ViewModels.AccountPersonalDetails

@using ProjectPathfinder.Infrastructure.Helpers

@{
    ViewBag.Title = "Personal Details";
}

<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Personal Details of @(CookieData.GetUserName(User.Identity.Name))</h1>
            </div>
        </div>
    </div>
</div>

<ol class="breadcrumb">
    <li><a href="@Url.RouteUrl("Home")">Home</a></li>
    <li><a href="@Url.Action("Dashboard", "Account")">My Dashboard</a></li>
    <li class="active">Personal Details</li>
</ol>

@*Form Section*@
<div class="section">
    <div class="container">
        <div class="panel panel-success">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary()
                            <h3><span class="circleLetter">1</span>Basic Information</h3><br />
                            //Name
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            @Html.TextBoxFor(x => x.FirstName, new { @required = "true", @class = "form-control input-lg", @placeholder = "First Name(s)", @tabindex = "1" })
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            @Html.TextBoxFor(x => x.LastName, new { @required = "true", @class = "form-control input-lg", @placeholder = "Last Name", @tabindex = "2" })
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                </div>
                            //End Name
                            //Dropdowns
                                <div class="row">
                                    <div class="col-xs-12 col-sm-8 col-md-8">
                                        <div class="panel panel-default">
                                            <div class="panel-heading text-center">Date of Birth</div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-xs-4">
                                                        @Html.DropDownListFor(m => m.BirthdayDay,
                                                                              new SelectList(HtmlGenerators.SelectList(1, 31, "DD"), "Value", "Text"),
                                                                              new { @class = "form-control", @tabindex = "3" })
                                                    </div>
                                                    <div class="col-xs-4">
                                                        @Html.DropDownListFor(m => m.BirthdayMonth,
                                                                              new SelectList(HtmlGenerators.SelectList(1, 12, "MM"), "Value", "Text"),
                                                                              new { @class = "form-control", @tabindex = "4" })
                                                    </div>
                                                    <div class="col-xs-4">
                                                        @Html.DropDownListFor(m => m.BirthdayYear,
                                                                              new SelectList(HtmlGenerators.SelectList(DateTime.Now.Year - 30, DateTime.Now.Year - 15, "YYYY"), "Value", "Text"),
                                                                              new { @class = "form-control", @tabindex = "5" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading text-center">Grade</div>
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    @Html.DropDownListFor(m => m.Grade,
                                                                          new SelectList(HtmlGenerators.SelectList(8, 12, "Grade"), "Value", "Text"),
                                                                          new { @class = "form-control", @tabindex = "6" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            //End Dropdowns
                            //Contact Info
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            @Html.TextBoxFor(x => x.ContactNumber, new { @required = "true", @class = "form-control input-lg", @placeholder = "Contact Number", @tabindex = "7", @pattern = "^((?:\\+27|27)|0)(\\d{2})-?(\\d{3})-?(\\d{4})$" })
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            @Html.TextBoxFor(x => x.School, new { @required = "true", @class = "form-control input-lg", @placeholder = "School", @tabindex = "8" })
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                </div>
                            //End Contact Info

                                <hr><h3><span class="circleLetter">2</span>Account Credentials</h3><br />

                            //Email
                                <label>Email:</label>
                                <div class="form-group">
                                    @Html.EditorFor(x => x.Email, new { htmlAttributes = new { @id = "email", @required = "true", @class = "form-control input-lg", @placeholder = "Email", @tabindex = "9" } })
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    @Html.EditorFor(x => x.ConfirmEmail, new { htmlAttributes = new {@class = "form-control input-lg", @placeholder = "Confirm Email", @tabindex = "10" } })
                                    <div class="help-block with-errors"></div>
                                </div>
                            //End Email
                            //Password
                                <label>Password:</label>
                                <div class="form-group">
                                    @Html.EditorFor(x => x.ExistingPassword, new { htmlAttributes = new { @id = "existing_password", @class = "form-control input-lg", @placeholder = "Existing Password", @tabindex = "11" } })
                                    <span class="help-block"></span>
                                </div>
                                <div class="form-group">
                                    <span data-toggle="tooltip" title="A minimum of 8 characters including a digit, uppercase or special character is required." data-placement="bottom">
                                        @Html.EditorFor(x => x.Password, new { htmlAttributes = new { @id = "password", @data_minlength = "8", @class = "form-control input-lg", @placeholder = "New Password", @tabindex = "12" } })
                                    </span>                                    
                                    <span class="help-block"></span>
                                </div>
                                <div class="form-group">
                                    @Html.EditorFor(x => x.ConfirmPassword, new { htmlAttributes = new { @id ="passwordconfirmation", @class = "form-control input-lg", @placeholder = "Confirm Password", @data_match = "#password", @data_match_error = "Whoops, your passwords do not match!", @tabindex = "13" } })                                    
                                    <div class="help-block with-errors"></div>
                                </div>
                                //End Password

                                <hr>

                                <div class="row">
                                    <div class="col-xs-12 col-md-6 col-md-offset-3"><input type="submit" value="Update" class="btn btn-primary btn-block btn-lg" tabindex="14"></div>
                                    or <a href="@Url.Action("Dashboard", "Account")">Cancel</a>
                                </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*End Form Section*@